.social_login
    button.social_login_github
        span
            i.fab.fa-github
        |Continue with Github  

    button.social_login_facebook
        span
             i.fab.fa-facebook
        |Continue with facebook      