doctype html
html
    head
        title S2 Wetube
    body
        header 
            h1 WeTube
        main
            block content
        footer
            span &copy: WeTube
                    